/**
 * Stylesheet used for the layout of most elements.
 *
 * @author Yorick Peterse
 * @link   http://yorickpeterse.com/
 */


/* left side bar */
#lsb
{
    background:    #fff;
    border:        1px solid #ddd;
    padding:       20px;
    width:         100px;

}

#content
{
    margin:        20px auto;
}

/* Footer site map */
#footer .sitemap {
    margin-left: 0px;
    text-align: left;
}

#footer .sitemap h3 {
    font-size: 14pt;
}
#footer .sitemap ul
{
    list-style-type: none;
}

#footer .sitemap li
{
    padding-left: 2em;
    text-indent: -2em;
    text-align: left;
    font-size: 10pt;
}

#footer .sitemap a
{
    color: #b5b5b6;
}
#footer .sitemap a:hover
{
    color: #ffffff;
}